In [1]:
import pandas as pd

In [2]:
input_df = pd.read_csv('dataset/tags_of_staffs.csv')

In [3]:
input_df

,Name,Staff ID,Tags,Weight,_id,tagsType
0,Danish Ahmad,Canberra00000,India,39%,615af13a6c298e0c397ad315,staffTags
1,Danish Ahmad,Canberra00000,Self-Help Groups,81%,615af13a6c298e0c397ad316,staffTags
2,Danish Ahmad,Canberra00000,Health Literacy,41%,615af13a6c298e0c397ad317,staffTags
3,Danish Ahmad,Canberra00000,Infant Health,35%,615af13a6c298e0c397ad318,staffTags
4,Danish Ahmad,Canberra00000,Social Networking,32%,615af13a6c298e0c397ad319,staffTags
...,...,...,...,...,...,...
57013,test,ANU00000,Agent Systems,100%,615af504c493b05d41ec6bac,ProjectTags
57014,test,ANU00000,Mathematical programming,64%,615af504c493b05d41ec6bad,ProjectTags
57015,test,ANU00000,Mathematical Programming,57%,615af504c493b05d41ec6bae,ProjectTags
57016,test,ANU00000,Evolutionary Computation,19%,615af504c493b05d41ec6baf,ProjectTags
57017,test,ANU00000,Multi-agent Systems,18%,615af504c493b05d41ec6bb0,ProjectTags

In [4]:
input_df[input_df['Name']=='test']

,Name,Staff ID,Tags,Weight,_id,tagsType
56901,test,ANU00000,Memetic Algorithm,100%,615af504c493b05d41ec6b3c,staffTags
56902,test,ANU00000,Equality Constraints,50%,615af504c493b05d41ec6b3d,staffTags
56903,test,ANU00000,Healthcare,37%,615af504c493b05d41ec6b3e,staffTags
56904,test,ANU00000,Benchmark,32%,615af504c493b05d41ec6b3f,staffTags
56905,test,ANU00000,Agent Systems,27%,615af504c493b05d41ec6b40,staffTags
...,...,...,...,...,...,...
57013,test,ANU00000,Agent Systems,100%,615af504c493b05d41ec6bac,ProjectTags
57014,test,ANU00000,Mathematical programming,64%,615af504c493b05d41ec6bad,ProjectTags
57015,test,ANU00000,Mathematical Programming,57%,615af504c493b05d41ec6bae,ProjectTags
57016,test,ANU00000,Evolutionary Computation,19%,615af504c493b05d41ec6baf,ProjectTags
57017,test,ANU00000,Multi-agent Systems,18%,615af504c493b05d41ec6bb0,ProjectTags

In [5]:
tmp_df = input_df.drop(input_df[input_df['Name']=='test'].index)
weight = tmp_df['Weight'].str.extract(r'(\d+)%')
assert weight[weight.isna().all(axis=1)].empty, 'contains incorrect format'
tmp_df['Weight'] = weight.astype('int')/100

In [7]:
tmp_df.to_csv('tags_of_staffs.csv', index=0)

In [95]:
weight_df = tmp_df.groupby('Tags').agg({'Weight':sum,'Staff ID':len}).rename(columns={'Weight':'Weight_sum', 'Staff ID':'Staff_cnt'}).reset_index().sort_values('Weight_sum',ascending=False)

In [96]:
member_cnt = input_df['Staff ID'].nunique()

In [97]:
weight_df['Weight_avg_all'] = weight_df['Weight_sum']/member_cnt

In [98]:
weight_df['Weight_avg_ind'] = weight_df['Weight_sum']/weight_df['Staff_cnt']

In [99]:
weight_df.groupby('Staff_cnt').agg({'Tags':len}).reindex().to_csv('cnt_distrubution.csv')

In [110]:
# weight_df[weight_df['Staff_cnt']>6]['Weight_avg_ind'].mean()

0.43506128130646576

In [147]:
weight_df

,Tags,Weight_sum,Staff_cnt,Weight_avg_all,Weight_avg_ind
8574,Systematic Reviews,79.78,159,0.213887,0.501761
8414,Students,68.46,142,0.183539,0.482113
3803,Health,67.60,199,0.181233,0.339698
3012,Exercise,54.75,106,0.146783,0.516509
2620,Education,53.94,145,0.144611,0.372000
...,...,...,...,...,...
1014,Byproducts,0.05,1,0.000134,0.050000
10918,electric potential,0.05,1,0.000134,0.050000
2346,Diminutives,0.05,1,0.000134,0.050000
5569,Modern museum,0.05,1,0.000134,0.050000
4861,League,0.05,1,0.000134,0.050000

In [148]:
weight_df.to_csv('dataset/staff_agg_weight.csv', index=0)

In [113]:
task_df = weight_df[weight_df['Staff_cnt']>4]['Tags']

In [115]:
task_df

8574     Systematic Reviews
8414               Students
3803                 Health
3012               Exercise
2620              Education
                ...
13433            regression
13861      social economics
9270                    WHO
12479              ministry
9535      academic exchange
Name: Tags, Length: 2925, dtype: object

In [119]:
sampling_df = pd.DataFrame(task_df.sample(n=38))

In [124]:
remain_df = task_df.drop(sampling_df.index)

In [133]:
remain_df = pd.DataFrame(remain_df.sample(frac=1)).reset_index().drop('index',axis=1)

In [134]:
length = len(remain_df)

In [135]:
task1_df = remain_df.iloc[:length//3]
task2_df = remain_df.iloc[length//3:length//3*2]
task3_df = remain_df.iloc[length//3*2:]

In [143]:
task1_df = task1_df.append(sampling_df).sample(frac=1)

In [141]:
task2_df = task2_df.append(sampling_df).sample(frac=1)

In [138]:
task3_df = task3_df.append(sampling_df).sample(frac=1)

In [144]:
task_df.to_csv('dataset/task_all.csv', index=0)

In [145]:
sampling_df.to_csv('dataset/sample.csv', index=0)

In [146]:
task1_df.to_csv('dataset/task_1.csv', index=0)
task2_df.to_csv('dataset/task_2.csv', index=0)
task3_df.to_csv('dataset/task_3.csv', index=0)

In [ ]:
task_df.to_csv('dataset/task.csv', index=0)