In [1]:
import sys
sys.path.append('../..')

In [8]:
import pandas as pd
import re

In [5]:
input_df = pd.read_csv('../assets/researcher_action.csv')

In [16]:
def extract_goid(row):
    rule = r'(GO[0-9]{4})'
    result = re.findall(rule, row)
    return result

In [17]:
input_df['go_id'] = input_df['payload'].map(extract_goid)

In [20]:
input_df['action_date'] = pd.to_datetime(input_df['action_date'])

In [21]:
input_df.explode('go_id')[['id', 'type', 'action_date', 'go_id']]

                      id  type         action_date   go_id
0            Reg_a@a.com     0 2022-04-19 16:26:41  GO5484
0            Reg_a@a.com     0 2022-04-19 16:26:41  GO5359
0            Reg_a@a.com     0 2022-04-19 16:26:41  GO4733
0            Reg_a@a.com     0 2022-04-19 16:26:41  GO4778
0            Reg_a@a.com     0 2022-04-19 16:26:41  GO5448
..                   ...   ...                 ...     ...
12  Reg_Ryanyang@anu.com     0 2022-04-19 16:26:03  GO5254
12  Reg_Ryanyang@anu.com     0 2022-04-19 16:26:03  GO4863
12  Reg_Ryanyang@anu.com     0 2022-04-19 16:26:03  GO4749
12  Reg_Ryanyang@anu.com     0 2022-04-19 16:26:03  GO4215
13  Reg_Ryanyang@anu.com     1 2022-04-19 16:26:35  GO5496

[82 rows x 4 columns]