In [1]:
import pandas as pd, numpy as np

In [2]:
task2_df = pd.read_excel('task2.xlsx')
mapping_df = pd.read_csv('mapping.csv' )

In [3]:
mapping_df['Australian standard'] = mapping_df['Australian standard'].str.split(',')

In [4]:
mapping_df = mapping_df.explode('Australian standard')

In [5]:
sg_1 = task2_df[['Tags','result','Unnamed: 2']].rename(columns={'Tags':'tag', 'result':'old_class','Unnamed: 2':'old_2'})

In [6]:
sg_2 =task2_df[['Tags.1', 'result.1']].rename(columns={'Tags.1':'tag', 'result.1':'old_class'})

In [7]:
sg_3 =task2_df[['TAGS(lowercase, distinct)', 'category-cn']].rename(columns={'TAGS(lowercase, distinct)':'tag', 'category-cn':'old_class'})

In [8]:
final_df = sg_1.append(sg_2).append(sg_3)

In [9]:
final_df = final_df[final_df['tag'].notna()]

In [10]:
final_df

                      tag old_class old_2
0               role play      社会科学   NaN
1     Supervised learning       计算机   NaN
2            Endorsements      社会科学   NaN
3     Intrusion detection       计算机   NaN
4               incentive      社会科学   NaN
..                    ...       ...   ...
954                 touch        待定   NaN
955  twenty-first century        待定   NaN
956         vulnerability        待定   NaN
957               walking        待定   NaN
958               washing        待定   NaN

[2960 rows x 3 columns]

In [11]:
final_df = final_df.replace(['', ' ', '待定'], [np.nan]*3)

In [12]:
tmp = final_df[final_df['old_2'].notna()][['tag','old_2']].rename(columns={'old_2':'old_class'})

In [13]:
final_df = final_df.append(tmp)

In [14]:
final_df = final_df.drop('old_2', axis=1)

In [15]:
final_df.merge(mapping_df, left_on='old_class', right_on='category')

,tag,old_class,category,Australian standard
0,role play,社会科学,社会科学,DIVISION 14 ECONOMICS
1,role play,社会科学,社会科学,DIVISION 13 EDUCATION
2,role play,社会科学,社会科学,DIVISION 15 COMMERCE
3,role play,社会科学,社会科学,MANAGEMENT
4,role play,社会科学,社会科学,TOURISM AND SERVICES
...,...,...,...,...
13477,virion,生物科技,生物科技,DIVISION 10 TECHNOLOGY
13478,virus replication,生物科技,生物科技,DIVISION 06 BIOLOGICAL SCIENCES
13479,virus replication,生物科技,生物科技,DIVISION 10 TECHNOLOGY
13480,nucleic acid repetitive sequences,生物科技,生物科技,DIVISION 06 BIOLOGICAL SCIENCES
13481,nucleic acid repetitive sequences,生物科技,生物科技,DIVISION 10 TECHNOLOGY

In [27]:
test_df = final_df.groupby('tag')['old_class'].apply(lambda x: list(set(x))).reset_index()

In [36]:
tmp

                              tag old_class old_2
24                    Parturition  一般工业、工程学  医药卫生
25               Phase Transition  一般工业、工程学  医药卫生
75   Information Seeking Behavior      医药卫生  社会科学
247                          Mask      医药卫生  电工技术
252             Social Networking      社会科学   计算机
256                       soldier      医药卫生  社会科学
260                         Lakes      土建水利  农林牧渔
271           hydrological change      环境科学  土建水利
829                        rivers      土建水利  环境科学