In [7]:
import pandas as pd, numpy as np

In [8]:
relation_df = pd.read_csv('data/researher_tag_warehouse.csv')
staff_df = pd.read_csv('data/clean_staff_tags.csv')

In [9]:
staff_df = staff_df.drop(['_id','tagsType'], axis=1)
staff_df['Tags'] = staff_df['Tags'].str.lower()

In [10]:
staff_agg_df = staff_df.groupby(['Name','Staff ID'])['Tags'].apply(lambda x: list(set(x))).reset_index()

In [11]:
sample_reseacher = staff_agg_df.sample(1)

In [37]:
agg_weight_df = staff_df.merge(relation_df).groupby(['Name', 'value'])['Weight'].sum().reset_index()

In [49]:
agg_weight_df = agg_weight_df.sort_values('Weight', ascending=False)

In [59]:
agg_weight_df[agg_weight_df['Name'] == 'Mehves Cetinkaya Sendas']

,Name,value,Weight
3671,Mehves Cetinkaya Sendas,DIVISION 19 STUDIES IN CREATIVE ARTS AND WRITING,1.75
3673,Mehves Cetinkaya Sendas,DIVISION 23 OTHERS(RELEVANT),1.62
3666,Mehves Cetinkaya Sendas,DIVISION 09 ENGINEERING,1.21
3665,Mehves Cetinkaya Sendas,DIVISION 08 INFORMATION AND COMPUTING SCIENCES,0.88
3674,Mehves Cetinkaya Sendas,DIVISION 24 OTHERS(IRRELEVANT),0.42
3668,Mehves Cetinkaya Sendas,DIVISION 13 EDUCATION,0.34
3672,Mehves Cetinkaya Sendas,DIVISION 21 HISTORY AND ARCHAEOLOGY,0.34
3670,Mehves Cetinkaya Sendas,DIVISION 16 STUDIES IN HUMAN SOCIETY,0.22
3669,Mehves Cetinkaya Sendas,DIVISION 14 ECONOMICS,0.15
3667,Mehves Cetinkaya Sendas,DIVISION 12 BUILT ENVIRONMENT AND DESIGN,0.10

In [60]:
result_df = agg_weight_df.drop_duplicates('Name')

In [65]:
agg_weight_df[agg_weight_df['Name'] == 'Moo Sung Lee']

              Name                                              value  Weight
3967  Moo Sung Lee                     DIVISION 24 OTHERS(IRRELEVANT)   22.38
3959  Moo Sung Lee               DIVISION 16 STUDIES IN HUMAN SOCIETY   15.03
3956  Moo Sung Lee                              DIVISION 13 EDUCATION   14.42
3966  Moo Sung Lee                       DIVISION 23 OTHERS(RELEVANT)    7.50
3963  Moo Sung Lee    DIVISION 20 LANGUAGE, COMMUNICATION AND CULTURE    6.68
3960  Moo Sung Lee      DIVISION 17 PSYCHOLOGY AND COGNITIVE SCIENCES    3.74
3955  Moo Sung Lee            DIVISION 11 MEDICAL AND HEALTH SCIENCES    2.81
3964  Moo Sung Lee                DIVISION 21 HISTORY AND ARCHAEOLOGY    2.29
3958  Moo Sung Lee  DIVISION 15 COMMERCE, MANAGEMENT, TOURISM AND ...    2.16
3961  Moo Sung Lee  DIVISION 18 LAW AND LEGAL STUDIES COGNITIVE SC...    1.89
3957  Moo Sung Lee                              DIVISION 14 ECONOMICS    1.44
3951  Moo Sung Lee                    DIVISION 06 BIOLOGICAL SCIENCES    1.34
3962  Moo Sung Lee   DIVISION 19 STUDIES IN CREATIVE ARTS AND WRITING    1.08
3950  Moo Sung Lee                      DIVISION 02 PHYSICAL SCIENCES    1.00
3965  Moo Sung Lee       DIVISION 22 PHILOSOPHY AND RELIGIOUS STUDIES    1.00
3953  Moo Sung Lee                            DIVISION 09 ENGINEERING    0.61
3954  Moo Sung Lee                             DIVISION 10 TECHNOLOGY    0.56
3952  Moo Sung Lee     DIVISION 08 INFORMATION AND COMPUTING SCIENCES    0.06

In [64]:
result_df[result_df['value'] == 'DIVISION 24 OTHERS(IRRELEVANT)']

,Name,value,Weight
3967,Moo Sung Lee,DIVISION 24 OTHERS(IRRELEVANT),22.38
3899,Milind Sathye,DIVISION 24 OTHERS(IRRELEVANT),22.22
3380,Majharul Talukder,DIVISION 24 OTHERS(IRRELEVANT),19.21
4354,Petra Buergelt,DIVISION 24 OTHERS(IRRELEVANT),19.00
4983,Sarah Maslen,DIVISION 24 OTHERS(IRRELEVANT),18.86
5597,Tracey Dickson,DIVISION 24 OTHERS(IRRELEVANT),17.71
1400,"Dr Henry Liu, PhD, MPhil, MSc, LLB (Hons), FHEA",DIVISION 24 OTHERS(IRRELEVANT),17.41
844,Cathy Hope,DIVISION 24 OTHERS(IRRELEVANT),15.10
1069,Darren Sinclair,DIVISION 24 OTHERS(IRRELEVANT),14.81
499,Ben Freyens,DIVISION 24 OTHERS(IRRELEVANT),13.99
614,Bethaney Turner,DIVISION 24 OTHERS(IRRELEVANT),13.79
3591,Mathieu O'Neil,DIVISION 24 OTHERS(IRRELEVANT),13.30
1500,Eleni Petraki,DIVISION 24 OTHERS(IRRELEVANT),12.41
5745,Vincent Learnihan,DIVISION 24 OTHERS(IRRELEVANT),12.07
794,Catherine Ordway,DIVISION 24 OTHERS(IRRELEVANT),11.81
58,Ahmed Imran,DIVISION 24 OTHERS(IRRELEVANT),11.77
4268,Peter Bodycott,DIVISION 24 OTHERS(IRRELEVANT),11.12
1620,"Fanke Peng, SFHEA",DIVISION 24 OTHERS(IRRELEVANT),11.07
393,Barbara Norman,DIVISION 24 OTHERS(IRRELEVANT),10.42
2218,James Robertson,DIVISION 24 OTHERS(IRRELEVANT),10.26
1194,Deborah Pino Pasternak,DIVISION 24 OTHERS(IRRELEVANT),10.17
5613,Tracy Ireland,DIVISION 24 OTHERS(IRRELEVANT),9.92
304,Annie Mccarthy,DIVISION 24 OTHERS(IRRELEVANT),9.42
3111,Kym Simoncini,DIVISION 24 OTHERS(IRRELEVANT),9.30
1228,Denise Thwaites,DIVISION 24 OTHERS(IRRELEVANT),9.08
3916,Mirani Litster,DIVISION 24 OTHERS(IRRELEVANT),8.96
2328,Jason Bainbridge,DIVISION 24 OTHERS(IRRELEVANT),8.83
1482,Eddi Pianca,DIVISION 24 OTHERS(IRRELEVANT),8.71
4495,Raghu Gudur,DIVISION 24 OTHERS(IRRELEVANT),8.40
2075,Irfan Khan,DIVISION 24 OTHERS(IRRELEVANT),8.34
3708,Mel Mylek,DIVISION 24 OTHERS(IRRELEVANT),8.25
2987,Kelly Mazzer,DIVISION 24 OTHERS(IRRELEVANT),7.93
4301,Peter Putnis,DIVISION 24 OTHERS(IRRELEVANT),7.29
2123,Ivana Damjanovic,DIVISION 24 OTHERS(IRRELEVANT),6.69
5472,Tim Sherratt,DIVISION 24 OTHERS(IRRELEVANT),6.34
2501,Jenny Fu,DIVISION 24 OTHERS(IRRELEVANT),6.25
5007,Sarvjeet Kaur Chatrath,DIVISION 24 OTHERS(IRRELEVANT),6.07
1177,Deborah Hill,DIVISION 24 OTHERS(IRRELEVANT),5.86
1435,"Dr. John Ting, PhD",DIVISION 24 OTHERS(IRRELEVANT),5.07
3391,Maree Sainsbury,DIVISION 24 OTHERS(IRRELEVANT),4.78
1129,David Paterson,DIVISION 24 OTHERS(IRRELEVANT),4.21
1794,Gevork Hartoonian,DIVISION 24 OTHERS(IRRELEVANT),4.19
2487,Jenny Dean,DIVISION 24 OTHERS(IRRELEVANT),4.01
1001,Dale Kleeman,DIVISION 24 OTHERS(IRRELEVANT),3.23
1601,Ernest Koh,DIVISION 24 OTHERS(IRRELEVANT),3.23
2267,Janet Hope,DIVISION 24 OTHERS(IRRELEVANT),2.59
2308,Jaquelin Bousie,DIVISION 24 OTHERS(IRRELEVANT),2.55
5291,Stuart Cunningham,DIVISION 24 OTHERS(IRRELEVANT),2.34
2376,Jemima Yarnold,DIVISION 24 OTHERS(IRRELEVANT),1.55

In [24]:
range_dict = {}
for tag in sample_reseacher['Tags'].values[0]:
    tmp_df = relation_df[relation_df['Tags'] == tag]
    range_dict

In [26]:
set(range_list)

{'DIVISION 01 MATHEMATICAL SCIENCES',
 'DIVISION 02 PHYSICAL SCIENCES',
 'DIVISION 04 EARTH SCIENCES',
 'DIVISION 05 ENVIRONMENTAL SCIENCES',
 'DIVISION 06 BIOLOGICAL SCIENCES',
 'DIVISION 08 INFORMATION AND COMPUTING SCIENCES',
 'DIVISION 09 ENGINEERING',
 'DIVISION 10 TECHNOLOGY',
 'DIVISION 11 MEDICAL AND HEALTH SCIENCES',
 'DIVISION 13 EDUCATION',
 'DIVISION 16 STUDIES IN HUMAN SOCIETY',
 'DIVISION 17 PSYCHOLOGY AND COGNITIVE SCIENCES',
 'DIVISION 22 PHILOSOPHY AND RELIGIOUS STUDIES',
 'DIVISION 23 OTHERS(RELEVANT)',
 'DIVISION 24 OTHERS(IRRELEVANT)'}